{% extends 'index.html' %}
{% load staticfiles %}
{%  block content %}
    <link rel="stylesheet" href="{% static 'css/slide.css' %}"/>
    <script src="{% static 'js/myScript.js' %}"></script>
<div class="galleryContainer">
    <div class="slideShowContainer">
        <div id="Playpause"></div>
        <div class="LeftArrow"><span class="arrow arrowleft"></span></div>
        <div class="RightArrow"><span class="arrow arrowright"></span></div>
        <div class="captionHolder"><p></p></div>
        <div class="imageHolder">
            <img src="{% static 'image1.jpg' %}" alt="notre première image"/>
            <p class="captionText">image 1</p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'image2.ico' %}" alt="notre première image"/>
            <p class="captionText">image 2</p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'image2.ico' %}" alt="notre première image"/>
            <p class="captionText">image 3</p>
        </div>
    </div>

</div>
{% endblock %}