<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Frontend-BDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"  crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
         <div class="container-fluid">
             <a class="navbar-brand" href="{% url 'Compte:home_compte' %}" > <img src="{% static 'logo_bde.png' %}" alt="BDE ENSIT" style="width: 95px;"></a>
              <div>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                   <span class="navbar-toggler-icon"></span>
                     </button>
                      <div class="collapse navbar-collapse" id="collapsibleNavbar">
                     <ul class="navbar-nav">
                     <li class="nav-item-active"><a class="nav-link" href="{% url 'Compte:home_compte' %}">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'Vote:home' %}"> Vote</a></li>
                     <!-- <li class="nav-item"><a class="nav-link" href="{% url 'Compte:presentation_url' %}"> Voters</a></li>-->
                          <li class="nav-item"><a class="nav-link" href="{% url 'Compte:apropos_url' %}"> About</a></li>&emsp;
                          {% if request.user.is_authenticated %}
                      <li class="user">Username:&emsp;{{ request.user }} </li>&emsp;
                      <li class="logout"><a href="{% url 'Compte:logout_url' %}"> Logout</a></li>
 {% endif %}
                   </ul>&emsp;
             </div>
            </div>
         </div>
   </nav>
{% block content %}
<br><br><br>
<footer class="section-spacer footer-section text-center " id="footer">
    <div class="container-fluid">

      <div class="row flex-column-reverse flex-sm-row flex-lg-row">
        <div class="col-lg col-6">
          <div class="footer-widget first-of-footer-widget">
            <img src="{% static 'logo_bde.png' %}" width=100px; class="logo-sm mb-10 mt-0" alt="BDE ENSIT footer logo">
            <br><p1 class="mt-0">&copy; 2019 |  All rights reserved.</p1>
           <br> <span>Do not hesitate to send us an email: </span><br><br>
            <a href="BDE_ENSIT@gmail.com">BDE_ENSIT@gmail.com</a><br>
            <span> </span>
            <ul class="social-list__inline mt-10">
              <li>
                <a href="" target="_blank" rel="noopener" aria-label="page twitter">
                  <i class="fab fa-twitter"></i>
                </a>
            </li>
              <li>
                <a href=""target="_blank" rel="noopener" aria-label="page facebook">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                  <a href=""target="_blank" rel="noopener" aria-label="page youtube">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                    <a href=""target="_blank" rel="noopener" aria-label="page linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
            </ul>
          </div>
        </div>
     </div>
  </div>

</footer>

{% endblock %}