.nav-link{
    font-weight: lighter;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;}
.navbar-brand{
        position: relative;
        left: 10px;}
#collapsibleNavbar{
        position: relative;
        right: 40px;}
 h1{
       font-weight: lighter;
        color: navy;}
 p{
                font-weight:lighter;
                font-size: 50px;}
 .user{
    color: white;
    position: relative;
    top: 9px;}
.logout{
  position: relative;
    top: 9px;}
#vote_bouton{
  position: relative;
  left:px;
}
