.nav-link{
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;}
.navbar-brand{
        position: relative;
        left: 10px;}
#collapsibleNavbar{
        position: relative;
        right: 40px;}
 h1{
            font-weight: lighter;
        color: navy;}

.user{
    color: white;
    position: relative;
    top: 9px;}
.logout{
  position: relative;
    top: 9px;}