{% extends 'index.html' %}
{% load static %}
{%  block content %}
    <link rel="stylesheet" href="{% static 'log in.css' %}">
     <div class="register">
         <form method="POST">
             <br>
         <div><h1 id="create">Login to an account</h1><hr width="300px"><hr width="200px"><hr width="100px"> </div>
             <div class="register-inter">
    {% csrf_token %}
    {{ form.as_p }}
            <button class="submit"> Submit</button>
                  </div>
    </form>
     </div>

{% endblock %}